@{
    ViewData["Title"] = "7 Wonders Calculator";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/7Wonder-1.jpg" alt="7 Wonders" class="center-block" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/7Wonder-2.jpg" alt="7 Wonders" class="center-block" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/7Wonder-3.jpg" alt="7 Wonders" class="center-block" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
     </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>How to use the calculator</h2>
        <p>
            This tool will help you score your totals for Seven Wonders. It only supports the base game so far but will be updated to support expansions in the future.
        </p>
        <p>
            In order to use this tool, add all the players in the game and press <strong>Enter Scores</strong>. On the Enter Scores page, click <strong>Score</strong> at the right of the row.
        </p>
        <p>
            This opens up a page to add your scoring values for the player. Once all players have had thier scores entered, press the <strong>Score the Game</strong> button to see who the winner was!
        </p>
    </div>
    <div class="col-md-5">
        <p>
            <table>
                <thead>
                    <tr>
                        <th class="col-md-5"><h3>Player Number</h3></th>
                        <th class="col-md-5"><h3>Player Name</h3></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null)
                    { 
                        @foreach (var pl in Model)
                        {
                            <tr>
                                <td class="col-md-5">
                                    <h4>@pl.id</h4>
                                </td>
                                <td class="col-md-5">
                                    <h4>@pl.name</h4>
                                </td>
                                <td class="col-md-5">
                                   @Html.ActionLink("Delete", "DeletePlayer", new { id = @pl.id })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </p>
    </div>
</div>
<a href="/Calculate/AddPlayer">Add Player</a>
<a href="/Calculate/CalculateList" style="float:right">Enter Scores</a>
<p>
    @ViewData["Message"]
</p>
